/*
Small devices:
@media (min-width: 576px) { ... }

Medium devices:
@media (min-width: 768px) { ... }

Large devices:
@media (min-width: 992px) { ... }

Extra large devices:
@media (min-width: 1200px) { ... }
*/

/*
Blue: #242F72
Pink: #BC73AD
Black: #0f0f0f
Purple/grey: #61688F
White: #ffffff
*/

.hero-section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 500px;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(../../Images/HomePage/hero-01.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  background-attachment: fixed;
}

.section-text {
  color: #242f72;
  padding: 50px 30px 50px 30px;
  line-height: 300%;
}

h1 {
  margin: 0px;
}

.motto {
  margin: 30px 0px 0px 0px;
  color: #bc73ad;
}

.cta {
  padding: 10px;
  width: 50%;
  align-self: center;
}
