.inputInvoice {
  width: 100%;
  height: 56px;
  margin-top: 8px;
  margin-bottom: 16px;
  border: 1px solid #61688f;
  border-radius: 5px;
  padding: 0px;
}

.inputInvoice::placeholder {
  font-size: 16px;
  padding-left: 8px;
}

.labelInvoice {
  font-size: 20px;
}
