.justBlob {
  background-image: url('../../Images/HomePage/blob.svg');
  background-repeat: no-repeat;
}

.whyBlob {
  display: block;
  height: 100%;
  width: 320px;
  background-image: url('../../Images/HomePage/blob.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  z-index: 20;
  position: absolute;
  left: -160px;
  top: 0px;
}

@media (min-width: 340px) {
  .whyBlob {
    width: 300px;
  }
}

@media (min-width: 576px) {
  .whyBlob {
    width: 330px;
    background-size: 95%;
    left: -140px;
  }
}

@media (min-width: 768px) {
  .whyBlob::before {
    overflow: visible;
    content: '';
    position: absolute;
    width: 115%;
    height: 140%;
    top: 10%;
    left: 10%;
    z-index: 20;
    background-image: url('../../Images/HomePage/blob.svg');
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    transform: rotate(-20deg);
  }
}
