.justBlob {
  background-image: url('../../Images/HomePage/blob.svg');
  background-repeat: no-repeat;
}

.whyBlob {
  display: block;
  height: 100%;
  width: 340px;
  background-image: url('../../Images/HomePage/blob.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  z-index: -1;
  position: absolute;
  left: -160px;
  top: 0px;
  /*   border: 1px solid red;
 */
}

@media (min-width: 340px) {
  .whyBlob {
    width: 300px;
  }
}

@media (min-width: 576px) {
  .whyBlob {
    width: 330px;
    background-size: 95%;
    left: -140px;
  }
}

@media (min-width: 768px) {
  .whyBlob::before {
    overflow: visible;
    content: '';
    position: absolute;
    width: 115%;
    height: 140%;
    top: 10%;
    left: 10%;
    z-index: -1;
    background-image: url('../../Images/HomePage/blob.svg');
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    transform: rotate(-20deg);
  }
}

@media (min-width: 1030px) {
  .whyBlob::before {
    width: 140%;
    height: 140%;
    transform: rotate(-35deg);
  }
}

@media (min-width: 1082px) {
  .whyBlob::before {
    overflow: visible;
    content: '';
    position: absolute;
    width: 180%;
    height: 180%;
    top: -10%;
    left: -20%;
    z-index: -1;
    background-image: url('../../Images/HomePage/blob.svg');
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    transform: rotate(-25deg);
  }
}

@media (min-width: 1548px) {
  .whyBlob::before {
    width: 210%;
    height: 220%;
    transform: rotate(-10deg);
  }
}
