.justBlob {
  background-image: url('../../Images/HomePage/blob.svg');
  background-repeat: no-repeat;
}

.whyBlob {
  display: block;
  height: 100%;
  width: 100%;
  background-image: url('../../Images/HomePage/blob.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  /*  z-index: 20;
 */
  position: absolute;
  left: -140px;
}

@media (min-width: 420px) {
  .whyBlob {
    background-size: 90%;
    left: -100;
    background-position-y: 20px;
  }
}

@media (min-width: 1030px) {
  .whyBlob {
    height: 127%;
    width: 100%;
    background-size: 50%;
    left: -350px;
  }
}
