.nav_desktop {
  display: none;
}

.hamburger {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.hamburger span {
  position: absolute;
  top: calc(50% - 2px);
  right: 5px;
  left: 0px;
  height: 4px;
  background-color: #ffffff;
  transition-property: opacity, transform;
  transition-duration: 0.2s;
}

.hamburger--opened {
  position: absolute;
  right: 10px;
  padding-bottom: 5px;
}

.hamburger span:nth-child(1) {
  transform: translateY(-250%);
}

.hamburger span:nth-child(3) {
  transform: translateY(250%);
}

.hamburger--opened span:nth-child(2) {
  opacity: 0;
}

.hamburger--opened span:nth-child(1) {
  transform: rotate(45deg);
  background-color: #242f72;
}

.hamburger--opened span:nth-child(3) {
  transform: rotate(-45deg);
  background-color: #242f72;
}

@media (min-width: 768px) {
  .nav_mobil {
    display: none;
  }

  .nav_desktop {
    display: flex;
  }
}

@media (min-width: 1030px) {
  .nav_desktop {
    flex-basis: 65%;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .nav_desktop {
    flex-basis: 55%;
  }
}
