.signIn {
  display: flex;
  flex-direction: column;
}

.menu-signInDesktop {
  display: none;
}

.menu-signInMobil {
  color: #242f72;
  text-decoration: none;
  font-weight: 500;
}

@media (min-width: 768px) {
  .menu-signInMobil {
    color: #bc73ad;
    z-index: 50;
  }

  .signIn {
    flex-direction: row;
  }
}

@media (min-width: 1030px) {
  .menu-signInMobil {
    display: none;
  }

  .menu-signInDesktop {
    display: block;
    text-decoration: none;
    color: #bc73ad;
    flex-basis: 50%;
  }
}
