/*
Blue: #242F72
Pink: #BC73AD
Black: #0f0f0f
Purple/grey: #61688F
White: #ffffff
*/

.primary {
  background-color: #bc73ad;
  color: #ffffff;
  text-transform: uppercase;
  padding: 7px;
  margin: 3px;
  border: none;
  border-radius: 4px;
  width: 215px;
  height: 48px;
  cursor: pointer;
}

.secondary {
  background-color: rgba(0, 0, 0, 0);
  color: #242f72;
  padding: 7px;
  margin: 3px;
  border: 2px solid #242f72;
  border-radius: 4px;
  width: 215px;
  height: 48px;
  cursor: pointer;
}

