/*
Blue: #242F72
Pink: #BC73AD
Black: #0f0f0f
Purple/grey: #61688F
White: #ffffff
*/

* {
  font-family: 'IBM Plex Sans', sans-serif;
}
.dashboard {
  font-family: 'IBM Plex Sans', sans-serif;
  max-width: 1200px;
  position: relative;
}

.data_dash {
  width: 80%;
  margin: 0 auto;
}

.chart_dash {
  min-height: 40%;
  margin: 32px;
}

.table_dash {
  min-height: 40%;
  margin: 32px;
}
