/*
Blue: #242F72
Pink: #BC73AD
Black: #0f0f0f
Purple/grey: #61688F
White: #ffffff
*/

.menu-link_dashside {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  padding: 38px 8px;
  width: 100%;
  text-transform: uppercase;
  font-size: 15px;
}

.menu-link_dashside:hover {
  background-color: #bc73ad;
}
