.profilePage {
  position: relative;
  background-color: hsl(0, 0%, 100%);
  height: 100%;
}

.profileDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
  height: 400px;
  margin: 0 auto;
  color: #61688f;
}

.ConstructionIcon {
  width: 64px;
  height: auto;
  margin: 56px;
}

@media (min-width: 992px) {
  .profileDiv {
    height: 600px;
  }
}
