.section-text {
  color: #242f72;
  padding: 8px 32px 8px 32px;
  line-height: 300%;
  height: 33.3%;
}

h1 {
  margin: 0px;
}

.motto {
  margin: 16px 0px 0px 0px;
  color: #bc73ad;
}

.picture {
  display: none;
}

@media screen and (min-width: 576px) {
  .section-text {
    padding: 8px 96px 8px 96px;
    display: flex;
    justify-content: space-between;
  }

  .titles {
    width: 50%;
  }

  .picture {
    display: block;
    width: 50%;
    background-image: url(../../../Images/HomePage/hero-01.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
  }
}
