/*
Blue: #242F72
Pink: #BC73AD
Black: #0f0f0f
Purple/grey: #61688F
White: #ffffff
*/

.menu-items {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25px;
  right: 20px;
  padding: 0px;
  max-width: 100%;
}

.menu-url {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

.menu-item {
  list-style-type: none;
  text-align: right;
  text-transform: uppercase;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

@media (min-width: 576px) {
  .menu-url {
    color: #242f72;
  }
}

@media (min-width: 768px) {
  .menu-items {
    flex-direction: row;
    top: 0;
  }

  .menu-item {
    text-align: center;
  }
}

@media (min-width: 1030px) {
  .menu-items {
    flex-basis: 100%;
    align-items: center;
  }

  .menu-item {
    padding: 20px;
  }
}
@media (min-width: 1200px) {
  .menu-item {
    flex-grow: 1;
  }
}
