/*
Blue: #3333ff
Pink: #BC73AD
Black: #0f0f0f
Purple/grey: #61688F
White: #ffffff
*/

.menu-items {
  margin-top: 2rem;
  position: relative;
  top: 20px;
  padding: 0px;
  max-width: 100%;
}

.menu-url {
  text-decoration: none;
  color: #242F72;
  font-weight: 500;
}

.menu-item {
  list-style-type: none;
  text-align: left;
text-transform: uppercase;
width: 100%;
padding:10px;
}
