* {
  font-family: 'IBM Plex Sans', sans-serif;
}

.uplPage {
  font-family: 'IBM Plex Sans', sans-serif;
  width: 80%;
  margin: 0px auto;
}

.upl_h2 {
  color: #242f72;
}

.uplForm {
  margin: 16px 0px;
}

.formBtn {
  margin: 16px 0px;
}

.revInvoice {
  margin: 64px 0px;
}
