/*
Blue: #242F72
Pink: #BC73AD
Black: #0f0f0f
Purple/grey: #61688F
White: #ffffff
*/

.headerDashboard {
  padding: 10px;
  background-color: #242f72;
  border: none;
}

.logo_wht_dash {
  height: 40px;
  width: auto;
}
@media (min-width: 576px) {
  .logo_wht_dash {
    height: 45px;
  }
}

@media (min-width: 768px) {
  .logo_wht_dash {
    height: 50px;
  }
}
