/*
Blue: #242F72
Pink: #BC73AD
Black: #0f0f0f
Purple/grey: #61688F
White: #ffffff
*/

.whySection {
  margin: 0 32px;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media (min-width: 768px) {
  .whySection {
    height: 45vh;
    display: flex;
    position: relative;
    margin: 0px 96px;
    flex-direction: row;
    flex-basis: 100%;
  }
}
