/*
Blue: #242F72
Pink: #BC73AD
Black: #0f0f0f
Purple/grey: #61688F
White: #ffffff
*/
/*
Small devices:
@media (min-width: 576px) { ... }

Medium devices:
@media (min-width: 768px) { ... }

Large devices:
@media (min-width: 992px) { ... }

Extra large devices:
@media (min-width: 1200px) { ... }
*/
* {
  font-family: 'IBM Plex Sans', sans-serif;
}

.landingPage {
  max-width: 1200px;
  background-color: #ffffff;
}

.blob2 {
  background-image: url(../../Images/HomePage/blob.svg);
  background-repeat: no-repeat;
  background-position: -30% center;
  background-size: 70%;
}
