* {
  font-family: 'IBM Plex Sans', sans-serif;
}

.datatable-responsive
  .p-datatable-responsive
  .p-datatable-tbody
  > tr
  > td
  .p-column-title {
  display: none;
}

@media screen and (max-width: 40em) {
  .datatable-responsive
    .p-datatable.p-datatable-responsive
    .p-datatable-thead
    > tr
    > th,
  .datatable-responsive
    .p-datatable.p-datatable-responsive
    .p-datatable-tfoot
    > tr
    > td {
    display: none !important;
  }

  .datatable-responsive
    .p-datatable.p-datatable-responsive
    .p-datatable-tbody
    > tr
    > td {
    text-align: left;
    display: block;
    width: 100%;
    float: left;
    clear: left;
    border: 0 none;
  }

  .datatable-responsive
    .p-datatable.p-datatable-responsive
    .p-datatable-tbody
    > tr
    > td
    .p-column-title {
    padding: 0.4rem;
    min-width: 30%;
    display: inline-block;
    margin: -0.4em 1em -0.4em -0.4rem;
    font-weight: bold;
  }

  .datatable-responsive
    .p-datatable.p-datatable-responsive
    .p-datatable-tbody
    > tr
    > td:last-child {
    border-bottom: 1px solid var(--surface-d);
  }
}

.p-column-title {
  font-size: 14px;
}
