.logoSpan {
  margin: 0;
  padding: 0;
}

.logo_sm {
  width: 40px;
  height: 40px;
}

.logo_m {
  display: none;
}

@media (min-width: 576px) {
  .logo_m {
    display: inline;
    height: 40px;
    width: auto;
    justify-self: flex-start;
  }
  .logo_sm {
    display: none;
  }
}

@media (min-width: 768px) {
  .logo_m {
    margin: 25px;
  }
}
